

.navbar ul{
    display:flex;
    justify-content:space-between;
    flex-direction:wrap;
     list-style-type: none;
     padding:10px 0px 0px 25px;
     gap: 2rem;
     
  
    
}

.navbar .right{


margin-right: 0px;
}

#nav{
    background-color: rgb(255, 255, 255);
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 0;
    
    align-content: center;
    border-bottom: 1px solid rgb(201, 201, 201);

  align-content: first baseline;
}
#nav Link{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}#nav #link{
  color: rgb(0, 0, 0);
 
}#nav #link:hover{
  color: rgb(10, 46, 204);
  
 
}
#input{

    width: 40rem;
    outline: none;
    border-radius: 50px;
    height: 3rem;
    padding: 4%;
    font-size: large;
    border: 1px solid rgb(237, 237, 237);
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    
     }
     

 .container {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100vh;
    padding: 5px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    gap: 10px;
    padding: 3%;
  }
  
  
  .form-control {
    width: 100%;
    padding: 5px;
  }
  
  .account {
    text-align: right;
    grid-column: 3;
    cursor: pointer;
    margin-top: 5px;
  
  }
  
  .popup {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
  }
  
  .account:hover .popup {
    display: block;
  }
  .float-right{
    padding: 0px 5px 0px 5px;
    float: right;
    background-color: red;
    border-radius: 50%;
  }
  
  



@media(max-width:900px){
 .navbar ul{
    display: flex;
    flex-direction: column;
    

 }

 .navbar #input{
width: 70dvw;
 }

 
}

